page-set-favorites {
    // ปรับพื้นหลัง
    .bg-style{
        background-color: #222;
    }
    // ปรับพื้นหลังของกล่องข้อความ
    .item-style{
        background-color: #222;
        color: #ffffff;
    }
    // ปรับ สีตัวอักษร "Add Your Location"
    h1{
        color: #ffffff;
    }
}
